<!DOCTYPE html>
<html>
  <head>
    <title> barAdd </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include templates/header.ejs %>
    <br>
    <br>
    <br>
    <form action="/add" method="post">
      <!-- action where to send data.  Method how to send the data-->
      <!-- get puts info in url, post hides information sent -->
      <input type="text" name="newBarName"><br><br>
      <input type="text" name="newBarAddress"><br><br>
      <input type="text" name="newBarArea"><br><br>
      <input type="text" name="newBarDay"><br><br>
      <input type="submit">
    </form>
    
  </body>
</html>