<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title> Dashboard </title>
    <link rel='stylesheet' href='/stylesheets/style_viz.css' />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
    <script src='/javascripts/sample_json.txt'></script>
   
  </head>
  <body>
    
    <script src='/javascripts/viz.js'></script>

    
  </body>
  
  
</html>