<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
  	<% include templates/header.ejs %>
    <br>
    <br>
    <details>
      <summary>Filters</summary>
      <form id='barFilterForm'>
        <div id='barDay'>
          <p>Day</p>
          <label style:'display:none' name='mon'>
            <input type="checkbox" value="mon" class='barDay'/> 
            <span>Monday</span>
          </label>
          <br>
          <label name='tues'>
            <input type="checkbox" value='tues' class='barDay'/> 
            <span>Tuesday</span>
          </label>
          <br>
          <label name='weds'>
            <input type="checkbox" value='wed' class='barDay'/> 
            <span>Wednesday</span>
          </label>
          <br>
          <label name='thrs'>
            <input type="checkbox" value='thrs' class='barDay'/> 
            <span>Thursday</span>
          </label>
          <br>
          <label name='fri'>
            <input type="checkbox" value='fri' class='barDay'/> 
            <span>Friday</span>
          </label>
          <br>
          <label name='sat'>
            <input type="checkbox" value='sat' class='barDay'/> 
            <span>Saturday</span>
          </label>
          <br>
          <label name='sun'>
            <input type="checkbox" value='sun' class='barDay'/> 
            <span>Sunday</span>
          </label>
        </div>
        <div id="barArea">
          <p>Area</p>
          <input type="checkbox" value="DTLA" class='barArea'/>DTLA
          <br>
          <input type="checkbox" value="SM" class='barArea'/>Santa Monica
          <br>
          <input type="checkbox" value="HW" class='barArea'/>Hollywood
          <br>
          <input type="checkbox" value="CC" class='barArea'/>Culver City
          <br>
        </div>
        <input id='subButton' type='button'>
      </form>
    </details>
    <br>
    
    <ul class='barListExp'>
    </ul>
    
  </body>
  <script src='/javascripts/global2.js'></script>
  <script type='text/javascript'>
  var bars =<%-JSON.stringify(bars)%>
</script>
</html>
