<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<h1><%= title %></h1>

		<p>Welcome to <%= title %></p>
  	<% include templates/header.ejs %>
   
   <!-- set up a for loop to create list once database is set up -->
    <ul>
			<li> Spring Street Bar </li>
				<ul>
					<li> 1234 Spring Street </li>
					<li> DTLA </li>
					<li> Wednesday </li>
				</ul>
			<li> foobar </li>
				<ul>
					<li> 656 South Main Street </li>
					<li> DTLA </li>
					<li> Everyday </li>
					<li> up to 11PM </li>
				</ul>		
				
    </ul>
    <p> <%= barList %></p>
    
  </body>
</html>
