<nav class='navbar navbar-default'>
	<div class='contianer-fluid'>
		<div class="navbar-header">
			<a href="#" class="navbar-brand logo">PostmatesDash</a>
		</div>
		<ul class='nav navbar-nav'>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/jobList">Data List</a></li>
			<li><a href="/addData">Add Data</a></li>
		</ul>
	</div>
</nav>